/**
 * Global Variables
 */

:root {
    --accent-color: #39FF14;
    --background-color: #000000;
    --text-color: #FFFFFF;
}

/**
 * Fonts
 */

@font-face {
    font-family: 'Jost';
    font-style: bold;
    font-weight: 700;
    src: url('/static/font/Jost-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: 500;
    src: url('/static/font/RobotoMono-Medium.ttf') format('truetype');
}

/**
 * Layout
 */

body {
    background: var(--background-color);
    color: var(--text-color);
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

/**
 * Typography
 */

h1 {
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-style: bold;
    font-weight: 700;
    margin: 10px;
}

/**
 * Navigation
 */

.navbar {
    box-sizing: border-box;
    overflow-y: auto;
    padding: 5px auto;
    text-align: center;
    width: 200px;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.date-item {
    border-radius: 10px;
    cursor: pointer;
    font-family: 'RobotoMono', monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 10px;
    padding: 5px;
}

.date-item.active {
    color: var(--accent-color);
}

.date-item:hover {
    background: var(--accent-color);
    color: var(--background-color);
}

/**
 * Viewer
 */

.viewer {
    align-items: center;
    display: flex;
    flex: 0 0 75%;
    justify-content: center;
    overflow: hidden;
}

.viewer img,
.viewer video {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

/**
 * Controls
 */

.controls::-webkit-media-controls-panel,
.controls::-webkit-media-controls-play-button,
.controls::-webkit-media-controls-start-playback-button,
.controls::-webkit-media-controls-overlay-play-button,
.controls::-webkit-media-controls-timeline {
    opacity: 0 !important;
    transition: opacity 0.2s;
}

.controls:hover::-webkit-media-controls-panel,
.controls:hover::-webkit-media-controls-play-button,
.controls:hover::-webkit-media-controls-start-playback-button,
.controls:hover::-webkit-media-controls-overlay-play-button,
.controls:hover::-webkit-media-controls-timeline {
    opacity: 1 !important;
}

/**
 * Events
 */

.events {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 25%;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
}

.events::-webkit-scrollbar {
    display: none;
}

.event-item {
    border: 3px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    flex-shrink: 0;
    height: 150px;
    object-fit: cover;
    width: auto;
}

.event-item.active {
    border-color: var(--accent-color);
}
