:root {
    --background-color: #000000;
    --foreground-color: #39ff14;
}

@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: normal;
    src: url('/static/font/RobotoMono-Medium.ttf') format('truetype');
}

body {
    background: var(--background-color);
    display: flex;
    font-family: 'RobotoMono', monospace;
    font-size: 14px;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#navbar {
    box-sizing: border-box;
    color: white;
    overflow-y: auto;
    padding: 5px auto;
    text-align: center;
    width: 200px;
}

#navbar h2 {
    color: var(--foreground-color);
    font-size: 24px;
    margin: 10px;
}

.date-item {
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.date-item:hover {
    background: var(--foreground-color);
    color: var(--background-color);
}

#main {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

#viewer {
    align-items: center;
    display: flex;
    flex: 0 0 75%;
    justify-content: center;
    overflow: hidden;
}

#viewer img,
#viewer video {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

#events {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 25%;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
}

#events::-webkit-scrollbar {
    display: none;
}

.event-thumb {
    border: 3px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    flex-shrink: 0;
    height: 100px;
    object-fit: cover;
    width: auto;
}

.event-thumb.active {
    border-color: var(--foreground-color);
}
